.frame-34,
.frame-34 * {
  box-sizing: border-box;
}
.frame-34 {
  height: 4176px;
  position: relative;
}
.rectangle-32 {
  width: 1437px;
  height: 4176px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-26 {
  width: 1437px;
  height: 4005px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.image-14 {
  opacity: 0.5;
  width: 1437px;
  height: 855px;
  position: absolute;
  left: 0px;
  top: -1px;
  object-fit: cover;
}
.defaketicon-stands-as-a-beacon-for-truth-in-the-digital-age-support-us-in-our-mission-to-promote-media-literacy-and-empower-communities-to-critically-evaluate-the-authenticity-of-digital-content-together-we-can-build-a-future-where-technology-serves-as-a-tool-for-progress-and-truth {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 91px;
  top: 500px;
  width: 1117px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.we-are {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 79px;
  top: 253px;
  width: 1069px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.defaketicon-tab-1 {
  width: 1067px;
  height: 194px;
  position: absolute;
  left: -59px;
  top: 453px;
  object-fit: cover;
}
.line-34 {
  background: #06172f;
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 1320.02px;
  height: 0px;
  position: absolute;
  left: 54px;
  top: 92px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.group-7 {
  position: absolute;
  inset: 0;
}
.about-us2 {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 513px;
  top: 929px;
  width: 412px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 1194px;
  top: 12px;
  width: 181px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-322 {
  width: 181px;
  height: 106px;
  position: absolute;
  left: 26px;
  top: 0px;
}
.d-5-3 {
  width: 394px;
  height: 143px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.line-32 {
  background: #06172f;
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 1320.02px;
  height: 0px;
  position: absolute;
  left: 55px;
  top: 92px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.videos {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 805px;
  top: 54px;
  width: 101px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 844px;
  top: 54px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.threats-recommendations {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 918px;
  top: 12px;
  width: 320px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 690px;
  top: 48px;
  width: 90px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-40 {
  width: 1437px;
  height: 438px;
  position: absolute;
  left: 0px;
  top: 854px;
  overflow: visible;
}
.about-us3 {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 513px;
  top: 929px;
  width: 412px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-to-defaketicon-an-educational-awareness-website-developed-by-a-group-of-passionate-senior-high-school-stem-technology-student-researchers-from-adamson-university-our-mission-is-to-empower-individuals-especially-the-youth-with-the-knowledge-and-tools-to-navigate-the-complex-world-of-digital-media-in-an-era-where-misinformation-and-deepfake-technologies-challenge-the-authenticity-of-online-content-we-recognized-the-urgent-need-for-awareness-and-education-through-this-website-we-aim-to-bridge-the-gap-in-digital-literacy-by-offering-comprehensive-resources-engaging-tutorials-and-interactive-content-designed-to-help-users-identify-and-understand-deepfake-technologies-guided-by-the-principles-of-academic-excellence-and-social-responsibility-our-project-reflects-the-vincentian-values-of-truth-and-service-fostering-a-safer-and-more-informed-digital-environment-for-all {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 160px;
  top: 940px;
  width: 1150px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trisha {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 418px;
  top: 1967px;
  overflow: visible;
  object-fit: cover;
}
.carlo {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 924px;
  top: 2757px;
  object-fit: cover;
}
.overseer {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 651px;
  top: 1863px;
  width: 128px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sofia {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 264px;
  top: 2348px;
  object-fit: cover;
}
.jervie {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 594px;
  top: 2348px;
  object-fit: cover;
}
.jb {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 924px;
  top: 2348px;
  object-fit: cover;
}
.iyana {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 267px;
  top: 2755px;
  object-fit: cover;
}
.b-2 {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 597px;
  top: 2755px;
  object-fit: cover;
}
.gio {
  width: 262px;
  height: 248px;
  position: absolute;
  left: 752px;
  top: 1967px;
  object-fit: cover;
}
.tony-1 {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 268px;
  top: 3159px;
  object-fit: cover;
}
.juan {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 598px;
  top: 3159px;
  object-fit: cover;
}
.princess {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 926px;
  top: 3159px;
  object-fit: cover;
}
.lam {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 268px;
  top: 3563px;
  object-fit: cover;
}
.aledd {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 597px;
  top: 3563px;
  object-fit: cover;
}
.keith {
  width: 262px;
  height: 249px;
  position: absolute;
  left: 928px;
  top: 3563px;
  object-fit: cover;
}
.principal-innovator {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 463px;
  top: 2219px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-analyst {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 987px;
  top: 3009px;
  width: 128px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trisha-nicole-e-sese {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 430px;
  top: 2244px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.john-carlo-a-tan {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 931px;
  top: 3034px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.technician {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 306px;
  top: 2602px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formatter-compliance-officer {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 591px;
  top: 2602px;
  width: 272px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.documenter {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 965px;
  top: 2602px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sofia-agatha-d-atienza {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 273px;
  top: 2630px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jervie-celeste-c-dela-rosa {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 607px;
  top: 2630px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jann-bryanne-s-ashby {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 932px;
  top: 2630px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finance-officer {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 309px;
  top: 3007px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.communicator {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 641px;
  top: 3007px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-manager {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 798px;
  top: 2218px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iyana-magdalene-o-montoya {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 276px;
  top: 3032px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.krizjof-myke-b-gaspar {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 608px;
  top: 3032px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gio-angelo-p-garcia {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 760px;
  top: 2243px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewer-1 {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 310px;
  top: 3411px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.data-analyst2 {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 642px;
  top: 3411px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewer-2 {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 974px;
  top: 3411px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tony-m-dulay {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 277px;
  top: 3436px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.juan-antonio-d-gulles {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 3436px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.princess-angel-e-miraflores {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 936px;
  top: 3436px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewer-12 {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 308px;
  top: 3815px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.compliance-officer {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 642px;
  top: 3815px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewer-13 {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 974px;
  top: 3815px;
  width: 173px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.laurence-andrew-b-marquez {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 277px;
  top: 3840px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aledd-dwayne-m-valenzuela {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 609px;
  top: 3840px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.keith-andrew-c-mira {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 936px;
  top: 3840px;
  width: 239px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.killua {
  width: 282px;
  height: 263px;
  position: absolute;
  left: 585px;
  top: 1554px;
  object-fit: cover;
}
.killua-andrei-s-nava {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 541px;
  top: 1835px;
  width: 369px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-any-inquiries-or-concerns-please-contact-killua-andrei-nava-overseer-at-killua-andrei-nava-k-12-adamson-edu-ph {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 168px;
  top: 4048px;
  width: 1117px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-the-team {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 335px;
  top: 1403px;
  width: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}