.threats-tab,
.threats-tab * {
  box-sizing: border-box;
}
.threats-tab {
  height: 5907px;
  position: relative;
}
.rectangle-14 {
  width: 1436px;
  height: 5907px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.rectangle-18 {
  opacity: 1;
  width: 1436px;
  height: 530px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  object-fit: cover;
  
}
.https-nypost-com-2025-01-02-world-news-uk-soldier-sentenced-to-prison-for-posting-sexually-explicit-deepfake-pics-of-women-on-porn-sites {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 63px;
  top: 2079px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.https-nypost-com-2025-01-02-world-news-uk-soldier-sentenced-to-prison-for-posting-sexually-explicit-deepfake-pics-of-women-on-porn-sites-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.https-nypost-com-2025-01-02-world-news-uk-soldier-sentenced-to-prison-for-posting-sexually-explicit-deepfake-pics-of-women-on-porn-sites-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
}
.in-january-2024-ai-generated-sexually-explicit-images-of-american-singer-taylor-swift-were-disseminated-across-multiple-platforms-including-x-formerly-twitter-facebook-reddit-and-instagram-one-tweet-containing-these-images-garnered-over-45-million-views-before-removal-the-controversy-drew-condemnation-from-various-organizations-and-individuals-including-the-white-house-press-secretary-and-microsoft-ceo-satya-nadella-highlighting-the-pressing-need-for-legislation-against-deepfake-pornography-conger-yoon-2024 {
  color: #06172f;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 62px;
  top: 2210px;
  width: 793px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-bbc-article-highlights-a-troubling-rise-in-deepfake-related-crimes-in-south-korea-where-explicit-images-and-videos-of-female-students-and-teachers-are-being-created-and-circulated-without-their-consent-victims-have-reported-severe-emotional-distress-and-the-issue-has-prompted-public-outrage-leading-to-calls-for-stricter-legal-action-against-digital-sex-crimes-despite-efforts-to-crack-down-on-these-offenses-the-accessibility-of-deepfake-tools-and-the-anonymity-of-perpetrators-pose-significant-challenges-to-authorities-highlighting-the-urgent-need-for-more-effective-safeguards-and-policy-reforms-choi-mackenzie-2024 {
  color: #06172f;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 63px;
  top: 2411px;
  width: 793px;
  height: 139px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.a-new-york-post-article-reports-that-a-former-royal-air-force-veteran-in-the-uk-was-sentenced-to-five-years-in-prison-for-creating-and-distributing-sexually-explicit-deepfake-images-of-his-ex-wife-and-other-women-online-the-convicted-man-used-photos-from-social-media-to-generate-realistic-explicit-content-and-uploaded-them-to-adult-sites-causing-significant-emotional-distress-and-reputational-harm-to-the-victims-this-case-underscores-the-dangerous-misuse-of-deepfake-technology-for-digital-harassment-and-highlights-the-growing-need-for-stricter-regulations-and-enforcement-to-combat-such-cybercrimes-anna-young-2025 {
  color: #06172f;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 62px;
  top: 1980px;
  width: 793px;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.non-consensual-explicit-content {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 1900px;
  width: 377px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.https-www-nytimes-com-2024-01-26-arts-music-taylor-swift-ai-fake-images-html {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 62px;
  width: 700px;
  top: 2329px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.https-www-bbc-com-news-articles-cpdlpj-9-zn-9-go {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 63px;
  top: 2560px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-33 {
  width: 1437px;
  height: 463px;
  position: absolute;
  left: -1px;
  top: 2671px;
  overflow: visible;
}
.rectangle-35 {
  width: 1437px;
  height: 503px;
  position: absolute;
  left: -1px;
  top: 5404px;
  overflow: visible;
}
.deep-fake-blog-01-3-x-1024-x-585-removebg-preview-1 {
  width: 766px;
  height: 432px;
  position: absolute;
  left: 717px;
  top: 2704px;
  object-fit: cover;
}
.recommendations {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 60px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 361px;
  top: 3195px;
  width: 711px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.long-term-recommendations {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 60px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 190px;
  top: 5460px;
  width: 1055px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deepfake-technology-poses-significant-threats-that-can-directly-impact-you-and-those-around-you-across-multiple-areas-of-life-politically-deepfakes-such-as-the-fabricated-video-of-ukrainian-president-zelenskyy-during-the-2022-russia-ukraine-conflict-can-manipulate-public-perception-spread-misinformation-and-undermine-trust-in-critical-moments-financially-scams-using-deepfake-videos-and-voice-impersonation-have-led-to-staggering-losses-including-a-25-million-fraud-in-hong-kong-and-the-impersonation-of-a-uk-company-s-ceo-proving-how-businesses-and-individuals-alike-can-fall-prey-to-such-schemes-on-a-personal-level-the-rise-of-non-consensual-explicit-content-has-caused-irreparable-harm-to-victims-as-shown-in-the-uk-veteran-s-deepfake-harassment-case-and-the-viral-circulation-of-ai-generated-explicit-images-of-taylor-swift-the-surge-in-such-crimes-in-south-korea-further-highlights-the-risks-of-digital-exploitation-especially-for-women-and-young-people-these-examples-are-a-stark-reminder-that-you-could-become-a-target-of-fraud-identity-theft-or-online-harassment-unless-you-remain-vigilant-support-stronger-digital-safeguards-and-practice-safe-online-habits {
  color: #ffffff;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 121px;
  top: 2830px;
  width: 676px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.taylot-swift-vs-ai-1 {
  width: 400px;
  height: 233px;
  position: absolute;
  left: 973px;
  top: 2151px;
  object-fit: cover;
}
.uk-soldier-1 {
  width: 398px;
  height: 252px;
  position: absolute;
  left: 975px;
  top: 1899px;
  object-fit: cover;
}
.korean-deepfake-2-1 {
  width: 399px;
  height: 224px;
  position: absolute;
  left: 974px;
  top: 2384px;
  object-fit: cover;
}
.rectangle-332 {
  background: #f4f4f4;
  width: 1436px;
  height: 1235px;
  position: absolute;
  left: 0px;
  top: 627px;
}
.line-27 {
  margin-top: -1px;
  border-style: solid;
  border-color: #06172f;
  border-width: 1px 0 0 0;
  width: 1278px;
  height: 0px;
  position: absolute;
  left: 64px;
  top: 4888px;
}
.line-28 {
  margin-top: -1px;
  border-style: solid;
  border-color: #06172f;
  border-width: 1px 0 0 0;
  width: 1278px;
  height: 0px;
  position: absolute;
  left: 74px;
  top: 4365px;
}
.line-29 {
  margin-top: -1px;
  border-style: solid;
  border-color: #06172f;
  border-width: 1px 0 0 0;
  width: 1278px;
  height: 0px;
  position: absolute;
  left: 74px;
  top: 3838px;
}
.during-the-invasion-by-russia-in-march-2022-a-deepfake-video-surfaced-allegedly-featuring-ukrainian-president-volodymyr-zelenskyy-calling-out-his-men-to-surrender-this-fake-video-circulated-on-social-media-before-being-proven-and-being-pulled-it-even-found-its-way-on-a-ukrainian-news-program-some-of-the-differences-which-led-to-discovering-the-deepfake-included-the-strange-facial-expressions-and-jarring-speech-patterns-experts-warned-that-the-incident-might-be-a-presage-to-even-more-difficult-scams-later-on-within-his-video-zelenskyy-quickly-restated-ukraine-s-stance-against-giving-up-this-raises-critical-concerns-about-the-need-for-robust-verification-mechanisms-public-media-literacy-and-defensive-strategies-to-protect-against-the-misuse-of-ai-generated-content-in-geopolitical-conflicts-and-beyond-pearson-zinets-2022 {
  color: #06172f;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 55px;
  top: 834px;
  width: 764px;
  height: 163px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.political-deception {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: -3px;
  top: 769px;
  width: 301px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.https-www-reuters-com-world-europe-deepfake-footage-purports-show-ukrainian-president-capitulating-2022-03-16 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 55px;
  top: 964px;
  width: 732px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.https-www-reuters-com-world-europe-deepfake-footage-purports-show-ukrainian-president-capitulating-2022-03-16-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.https-www-reuters-com-world-europe-deepfake-footage-purports-show-ukrainian-president-capitulating-2022-03-16-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
}
.a-finance-worker-at-a-multinational-firm-was-tricked-into-paying-out-25-million-to-fraudsters-using-deepfake-technology-to-pose-as-the-company-s-chief-financial-officer-in-a-video-conference-call-according-to-hong-kong-police-the-elaborate-scam-saw-the-worker-duped-into-attending-a-video-call-with-what-he-thought-were-several-other-members-of-staff-but-all-of-whom-were-in-fact-deepfake-recreations-hong-kong-police-said-at-a-briefing-on-friday-in-the-multi-person-video-conference-it-turns-out-that-everyone-he-saw-was-fake-senior-superintendent-baron-chan-shun-ching-told-the-city-s-public-broadcaster-rthk-chen-magramo-2024 {
  color: #06172f;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 567px;
  top: 1235px;
  width: 793px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.a-forbes-article-details-a-real-life-incident-where-cybercriminals-used-ai-generated-voice-deepfaketechnology-to-impersonate-the-ceo-of-a-parent-company-and-successfully-tricked-the-ceo-of-a-uk-based-energy-firm-into-transferring-243-000-to-a-fraudulent-account-the-scammers-mimicked-the-exact-tone-accent-and-inflections-of-the-executive-s-voice-making-the-request-seem-authentic-and-urgent-this-case-is-a-prominent-example-of-how-voice-deepfakes-can-facilitate-sophisticated-financial-fraud-raising-serious-concerns-about-the-potential-for-misuse-in-corporate-and-personal-settings-damiani-2019 {
  color: #06172f;
  text-align: justify;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 16px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 572px;
  top: 1506px;
  width: 793px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.financial-fraud {
  color: #06172f;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 1135px;
  top: 1000px;
  width: 301px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.https-amp-cnn-com-cnn-2024-02-04-asia-deepfake-cfo-scam-hong-kong-intl-hnk {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 552px;
  top: 1350px;
  width: 808px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.https-amp-cnn-com-cnn-2024-02-04-asia-deepfake-cfo-scam-hong-kong-intl-hnk-span {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.https-amp-cnn-com-cnn-2024-02-04-asia-deepfake-cfo-scam-hong-kong-intl-hnk-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
}
.https-www-forbes-com-sites-jessedamiani-2019-09-03-a-voice-deepfake-was-used-to-scam-a-ceo-out-of-243000 {
  color: #000000;
  text-align: right;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 561px;
  top: 1644px;
  width: 799px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.use-browser-plugins-that-detect-potential-deepfakes {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 3771px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.follow-trusted-news-sources-with-transparent-verification-processes {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 3745px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.personal-steps {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 3711px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collaboration-with-tech-companies {
  color: #06172f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 99px;
  top: 3620px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.collaboration-with-tech-companies-span {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
}
.collaboration-with-tech-companies-span2 {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
}
.platforms-like-you-tube-facebook-and-x-should-quickly-flag-and-remove-misleading-deepfakes-while-improving-ai-based-detection-tools {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 3646px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.policy-and-regulation {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 124px;
  top: 3535px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
  .policy-and-regulation-span {
    color: #06172f;
    text-align: left;
    font-family: "Inter-BoldItalic", sans-serif;
    font-size: 24px;
    line-height: 110%;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    left: 102px;
    top: 3535px;
    width: 1222px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.implement-legislation-to-penalize-the-creation-and-distribution-of-malicious-deepfakes-particularly-during-elections-and-national-crises {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 3559px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.promote-public-media-literacy {
  color: #06172f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 3451px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.promote-public-media-literacy-span {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
}
.promote-public-media-literacy-span2 {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
}
.public-awareness-campaigns-should-educate-people-on-how-to-recognize-deepfakes-by-spotting-inconsistencies-such-as-unnatural-blinking-mismatched-lighting-or-irregular-speech-patterns {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 3476px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strengthen-media-verification {
  color: #06172f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 3366px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strengthen-media-verification-span {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
}
.strengthen-media-verification-span2 {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
}
.governments-and-media-outlets-should-implement-robust-verification-processes-for-digital-content-such-as-blockchain-based-provenance-tracking-and-deepfake-detection-software {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 3392px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.political-deception-mitigation {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 121px;
  top: 3327px;
  width: 1222px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 96px;
  top: 3327px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.be-cautious-of-urgent-financial-requests-even-from-familiar-contacts {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 4293px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.always-confirm-sensitive-requests-using-a-second-communication-channel-e-g-phone-verification-if-you-receive-a-suspicious-email-or-call {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 4241px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.personal-steps2 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 4207px;
  width: 204px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ai-detection-software {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 120px;
  top: 4121px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.companies-should-invest-in-ai-powered-tools-designed-to-detect-synthesized-voices-and-videos-in-real-time-during-calls-and-conferences {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 4144px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.employee-training {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 123px;
  top: 4035px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.regular-cybersecurity-training-sessions-should-cover-the-risks-of-voice-and-video-deepfakes-teaching-employees-to-verify-unusual-requests-especially-those-involving-large-sums-of-money {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 4060px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.identity-verification-upgrades {
  color: #06172f;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 101px;
  top: 3949px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.identity-verification-upgrades-span {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
}
.identity-verification-upgrades-span2 {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
}
.identity-verification-upgrades-span3 {
  color: #06172f;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
}
.organizations-should-adopt-multifactor-authentication-and-biometrics-to-confirm-identities-during-financial-transactions-reducing-reliance-on-voice-and-video-alone {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 3976px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.financial-fraud-mitigation {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 123px;
  top: 3890px;
  width: 1202px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 96px;
  top: 3890px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.regularly-search-for-your-name-and-image-using-reverse-image-searches-to-identify-unauthorized-use {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 4835px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.limit-the-public-sharing-of-personal-photos-and-videos-especially-on-social-media {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 4809px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.personal-steps3 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 4775px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.awareness-and-reporting-mechanisms {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 121px;
  top: 4686px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.develop-and-promote-easy-reporting-mechanisms-for-victims-and-provide-psychological-and-legal-support {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 4711px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.digital-fingerprints {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 121px;
  top: 4625px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.encourage-the-use-of-watermarks-and-digital-identifiers-that-can-make-deepfakes-easily-recognizable {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 4651px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.faster-content-takedown {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 121px;
  top: 4539px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social-media-platforms-must-streamline-and-accelerate-their-response-to-requests-for-removing-explicit-deepfake-content {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 4565px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.strict-legal-frameworks {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left:122px;
  top: 4455px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.governments-should-enforce-stricter-laws-criminalizing-the-creation-distribution-and-possession-of-non-consensual-explicit-deepfakes {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 138px;
  top: 4480px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.non-consensual-explicit-content-mitigation {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 138px;
  top: 4399px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.be-skeptical-of-videos-or-audios-that-seem-out-of-character-or-contradict-previous-statements-by-public-figures {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 5303px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.use-trusted-deepfake-detection-apps-or-services-to-check-suspicious-content {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 5277px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.personal-steps4 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 5243px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.educational-programs {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 121px;
  top: 5143px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.schools-universities-and-workplaces-should-include-sessions-on-digital-safety-and-misinformation-awareness-to-foster-long-term-resilience-against-deepfakes {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 5174px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.partnerships-and-collaboration {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 121px;
  top: 5058px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.governments-ng-os-tech-companies-and-civil-society-must-collaborate-to-monitor-and-shut-down-sites-or-forums-that-produce-harmful-deepfake-content {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 5085px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tech-industry-standards {
  color: #06172f;
  text-align: left;
  font-family: "Inter-BoldItalic", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  font-style: italic;
  position: absolute;
  left: 121px;
  top: 4966px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.advocate-for-international-standards-for-ethical-ai-development-to-prevent-the-proliferation-of-harmful-deepfake-tools {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 134px;
  top: 4998px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.general-mitigation-strategies-for-all-deepfake-risks {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 138px;
  top: 4921px;
  width: 1190px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ethical-guidelines-for-developers {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 89px;
  top: 5787px;
  width: 1177px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.promote-ethical-guidelines-for-ai-developers-to-prevent-the-misuse-of-generative-ai-technologies {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 5817px;
  width: 1177px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.global-cooperation {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 89px;
  top: 5670px;
  width: 1177px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.international-organizations-such-as-the-un-should-develop-treaties-and-agreements-to-regulate-the-malicious-use-of-deepfake-technology {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 103px;
  top: 5700px;
  top: 5697px;
  width: 1177px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.continuous-ai-improvement {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 90px;
  top: 5550px;
  width: 1177px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.invest-in-research-to-improve-ai-s-ability-to-detect-and-expose-deepfakes-at-the-same-rate-the-technology-evolves {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 400;
  position: absolute;
  left: 103px;
  bottom: 272px;
  width: 1177px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.summary {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 64px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 141px;
  top: 2724px;
  width: 621px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-36 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 558px;
  height: 0px;
  position: absolute;
  left: 172px;
  top: 2810px;
}
.image-26 {
  width: 535px;
  height: 317px;
  position: absolute;
  left: 840px;
  top: 769px;
  object-fit: cover;
}
.link-3-ai-voice-1 {
  width: 447px;
  height: 312px;
  position: absolute;
  left: 49px;
  top: 1457px;
  object-fit: cover;
}
.link-1-ukr-president-1-1 {
  width: 447px;
  height: 287px;
  position: absolute;
  left: 49px;
  top: 1118px;
  object-fit: cover;
}
.image-27 {
  width: 1436px;
  height: 674px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  object-fit: cover;
  opacity: 0.9;
}
.d-5-3 {
  width: 394px;
  height: 143px;
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: cover;
}
.line-32 {
  background: #06172f;
  margin-top: -2px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 2px 0 0 0;
  width: 1320.02px;
  height: 0px;
  position: absolute;
  left: 55px;
  top: 92px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.about-us {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 1194px;
  top: 12px;
  width: 181px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videos {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 805px;
  top: 54px;
  width: 101px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 844px;
  top: 54px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.threats-recommendations {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 918px;
  top: 12px;
  width: 320px;
  height: 106px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: 20px;
  line-height: 100%;
  font-weight: var(--var-sds-typography-body-font-weight-regular, 400);
  position: absolute;
  left: 690px;
  top: 48px;
  width: 90px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-threats-of-deepfake {
  color: #ffffff;
  text-align: center;
  font-family: var(
    --var-sds-typography-body-font-family,
    "Inter-Bold",
    sans-serif
  );
  font-size: 128px;
  line-height: 100%;
  font-weight: 700;
  position: absolute;
  left: 325px;
  top: 250px;
  width: 780px;
  display: flex;
  align-items: center;
  justify-content: center;
}
._3 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 107px;
  top: 4399px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._4 {
  color: #06172f;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 24px;
  line-height: 110%;
  font-weight: 700;
  position: absolute;
  left: 107px;
  top: 4921px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}